<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pasien Baru</title>
</head>
<body>
<form th:action="@{/pasien/tambah}" th:object="${pasien}" method="POST">
    Nama: <br>
    <input type="text" name="namaPasien"/>
    <br>
    NIK: <br>
    <input type="text" name="nikPasien"/>
    <br>
    Jenis Kelamin:
    <br>
    <select name="jenisKelamin">
        <option value=2>Perempuan</option>
        <option value=1>Laki-laki</option>
    </select>
    <br>
    Tanggal Lahir <br>
    <input type="date" name="tanggalLahir"/>
    <br>
    Tempat Lahir: <br>
    <input type="text" name="tempatLahir"/>
    <br>
    Asuransi <br>
    <select name="listPasienAsuransi">
        <option value="asuransi" th:each="asuransi, iterationStatus : ${listAsuransi}">
            <a th:text="${asuransi.namaAsuransi}"></a>
        </option>
    </select>
    <br>
    <div>
    Emergency Contact Name: <br>
    <input type="text" name="emergencyContact.name"/>
    <br>
    Emergency Contact NIK: <br>
    <input type="text" name="emergencyContact.nik"/>
    <br>
    Emergency Contact Phone: <br>
    <input type="text" name="EmergencyContact.no_telp"/>
    <br>
    </div>
    <button type="submit"> Submit </button>
</form>
</body>
</html>