<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Data Pasien</title>-->
<!--</head>-->
<!--<body>-->
<!--<table class="table order-list" th:object="pasien">-->
<!--    <tc>-->
<!--        <th>Nama</th>-->
<!--        <th>NIK</th>-->
<!--        <th>Jenis Kelamin</th>-->
<!--        <th>Kode Pasien</th>-->
<!--        <th>Tempat Lahir</th>-->
<!--        <th>Tanggal Lahir</th>-->
<!--    </tc>-->
<!--    <tbody>-->
<!--    <tc>-->
<!--        <td th:text="${pasien.namaPasien}"></td>-->
<!--        <td th:text="${pasien.NIKPasien}"></td>-->
<!--        <td th:text="${pasien.jenisKelamin} == 1 ? 'Laki-laki' : 'Perempuan'"></td>-->
<!--        <td th:text="${pasien.kodePasien}"></td>-->
<!--        <td th:text="${pasien.tempatLahir}"></td>-->
<!--        <td th:text="${pasien.tanggalLahir}"></td>-->
<!--    </tc>-->


<!--</body>-->
<!--</html>-->